@charset "utf-8";
/* CSS Document */

#mainContent .swfFile {
	display: block;
	height: 400px;
	width: 550px;
	background-image: url(../assets/swf_border.png);
	padding: 29px;
}
.download_swf_file {
	display: block;
	width: 608px;
	margin-bottom: 50px;
}
.download_btn:link{
	display: block;
	height: 80px;
	width: 220px;
	background-image: url(../assets/download_files_link.png);
}
.download_btn:hover {
	background-image: url(../assets/download_files_hover.png);
	display: block;
	height: 80px;
	width: 220px;
}
.download_btn:active {
	background-image: url(../assets/download_files_active.png);
	display: block;
	height: 80px;
	width: 220px;
}

#buttons li {
	float: left;
	list-style: none;
	height: 30px;
	width: 30px;
	margin: 5px;
	line-height: 30px;
}
#buttons li a {
	text-align: center;
	color: #FFF;
}
#buttons li a:link {
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../assets/square_button_link.png);
}

#buttons li a:hover {
	background-image: url(../assets/square_button_hover.png);
	display: block;
	width: 30px;
	height: 30px;
}
#buttons li a:active {
	background-image: url(../assets/square_button_active.png);
	display: block;
	height: 30px;
	width: 30px;
}
